body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background: url("/images/did-you-know-the-windows-xp-wallpaper-was-so-expensive-fedex-refused-to-ship-it-520483-2.jpg")  fixed center ;
}

p,
a,
li,
ul,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}



